@page
@model ASP_NET_Inlämningsuppgift_Facit.Pages.Organizer.LoungeModel

@inject UserManager<MyUser> userManager
@{
    int i = 0;
}

<h1>Välkommen till organisatörernas V.I.P sida</h1>

@foreach (var org in Model.Organizers)
{
    bool test = await userManager.IsInRoleAsync(org, "Organizer");
    string id = "I" + i;

    <form method="post" id="@id">
        @if (test)
        {
            <input checked="" onchange="$(@Html.Raw("\'#" + id + "\'")).submit()" asp-for="CheckBox" />
        }
        else
        {
            <input onchange="$(@Html.Raw("\'#" + id + "\'")).submit()" asp-for="CheckBox" />
        }
    </form>

    <p>@org.UserName - @org.Email</p>

    i++;
}