@page
@model ASP_NET_Inlämningsuppgift_Facit.Pages.Organizer.LoungeModel

@inject UserManager<MyUser> userManager
@{
}

<h1>Välkommen till organisatörernas V.I.P sida</h1>

@for (int i = 0; i < Model.Users.Count; i++)
{
    var user = Model.Users[i];
    Model.CheckBox = await userManager.IsInRoleAsync(user, "Organizer");
    string id = "I" + i;

    <form method="post" id="@id" asp-route-id="@user.Id">
        @Html.CheckBoxFor(m => m.CheckBox, new { onchange= "$(\'#@id\').submit()" })
    </form>

    <p>@user.UserName - @user.Email</p>
}